# Compiled binary
main

# C++ object and dependency files
*.o
*.d
*.out
*.a
*.so
*.dylib

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/

#build
build/
